* {
  margin: 0 auto;
  padding: 0;
}

.corpus {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  width: 200px;
  height: 470px;
  border-radius: 30px;
}

.circle_red,
.circle_yellow,
.circle_green {
  background-color: rgb(36, 36, 36);
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.circle_red {
  animation: circle_red 20s linear 0s infinite normal none running;
}

.circle_yellow {
  animation: circle_yellow 20s linear 0s infinite normal none running;
}

.circle_green {
  animation: circle_green 20s linear 0s infinite normal none running;
}

.stick {
  background-color: black;
  width: 40px;
  height: 270px;
}

@keyframes circle_red {
  5% {
    background-color: rgb(36, 36, 36);
  }

  10% {
    background-color: red;
  }

  30% {
    background-color: red;
  }

  40% {
    background-color: rgb(36, 36, 36);
  }
}

@keyframes circle_yellow {
  0% {
    background-color: yellow;
  }

  10% {
    background-color: rgb(36, 36, 36);
  }

  35% {
    background-color: rgb(36, 36, 36);
  }

  40% {
    background-color: yellow;
  }

  50% {
    background-color: yellow;
  }

  60% {
    background-color: rgb(36, 36, 36);
  }

  85% {
    background-color: rgb(36, 36, 36);
  }

  90% {
    background-color: yellow;
  }

  100% {
    background-color: yellow;
  }
}

@keyframes circle_green {
  55% {
    background-color: rgb(36, 36, 36);
  }

  60% {
    background-color: green;
  }

  80% {
    background-color: green;
  }

  90% {
    background-color: rgb(36, 36, 36);
  }
}